/*****************
   Body Set
*****************/

body {
	margin: 0;
	background-color: #EFEFEF;
	font-family: "Droid Sans", arial, sans-serif;
}

a {
	text-decoration: none;
	text-align: center;
	font-weight: 800;
	display: inline-block;
	color: #000;
}





/*****************
   Header
*****************/

#wrapper {
	max-width: 940px;
	margin: auto;
}

#logo-pic {
	margin-top: 10px;
	border-radius: 50%;
	float: left;
}

#header {
	margin-top: 0;
	padding-bottom: 20px;
	background-color: #669999;
	text-align: center;
	width: 100%;
	height: 150px;
	border-bottom: solid 8px #10653a;
}

#logo {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

#logo h1, h3{
	padding: 10px;
	background-color: #c0d4e2;
	border-radius: 10px;
}

#logo h1, h3, 
.button {
	margin: 4px;
	border: 2px solid #10653a;
}

#logo h1 {
	color: #154b72;
}

#logo h3 {
	color: #2b5d82;
}


#main-nav {
	margin: 50px auto;
	float: right;
	text-decoration: none;
	text-align: center;
}

#main-nav ul {
	list-style-type: none;
}


#main-nav li {
		display: inline-block;
}



.button {
	float: left;
	margin-right: 10px;
	background-color: #c0d4e2;
	padding: 10px;
	border-radius: 10px;
}


.button:hover {
	background-color: #dae3ea;
}


#main-nav a, a:visited {
	color: #154b72;
}

#main-nav a.selected, #main-nav a:hover {
	color: #77284b;
}


/*****************
   Gallery Page
*****************/


#gallery {
	padding: 0 5%;
	margin: auto;
	max-width: 940px;
		
}

#gallery ul {
	list-style-type: none;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;	
}


#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	padding: 2em;
	background-color: #dae3ea;
	border-radius: 10px;
}

#gallery ul li a img {
	float: left;
	border-radius: 10px;
	max-width: 100%;
	display: inline;
}



/************************

	Lightbox

***********************/

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	color: #fff;
	font-weight: 800;
}


#overlay img {
	max-height: 50%;
	border: 10px solid #fff;
	border-radius: 2px;
}

.close {
	margin-top: 10%;	
}

.close a {
	color: #bbb;
}

.close a:hover {
	color: #fff;
}


/************************

	Contact Page

***********************/

#contact-photo {
	padding: 10px;
}

#contact-photo img {
	border-radius: 50%;
}


/************************

	Media Query

***********************/

@media screen and (max-width: 740px) {

	#gallery ul {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	}
}

@media screen and (max-width: 480px) {

	#gallery ul {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	}
}








